/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
/* styling of the body container */
body {
    background-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
/* the top bar, contains the timer and highscore  */
#top-btn {
    border-radius: 15px 15px 0 0;
}

#high-score {
    color: white;
    text-decoration: none;
}
/* the styling of the container that holds data */
.data {
    background-color: whitesmoke;
    border-radius: 0 0 10px 10px;
    width: 600px;
    overflow: hidden;
}

.hide {
    display: none;
}

.quiz-sect {
    padding: 4rem;
}

#clock {
    background-color: yellow;
    color: black;
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
}

h2 {
    padding: 1rem;
    text-align: center;
    margin: 0;
}

/* styling of the answers */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 1.2rem;
    margin: 1rem 0;
}

ul li label {
    cursor: pointer;
}
/* button styling and hovering capabilities */
button {
    background-color: #ffff009d;
    color: black;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    padding: 1.3rem;
}

button:hover {
    background-color: red;
}
/* styling of the inner container containing data */
#intro {
    background-color: white;
    box-shadow: 0 0 50px 8px rgba(67, 67, 67, 0.117);
    
}

.intro-p {
    font-size: 30px;
    height: 50px;
}
/* styling of the start button */
#start-btn {
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 50px 8px rgba(67, 67, 67, 0.117);
}

/* stylying at the end of quiz screen to input initials */
.initials {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
/* styling of the submit button at the end of the quiz */
.submit-btn {
    color: black;
    background-color: #ffff009d;    
    border: 0 0 10px 10px;
    width: 100px;

}

.submit-btn:hover{
    background-color: red;
}